{
    "start": "Bishop Cotton Boys' School, 15, Residency Rd, Shanthala Nagar, Ashok Nagar, Bengaluru, Karnataka 560025, India",
    "end": "1st Cross Rd, Xavier Layout, Victoria Layout, Bengaluru, Karnataka 560047, India",
    "interval": 20,
    "duration": 0,
    "api_key": "op://Tokens/MapBox API Key - GPS Simulator/credential"
}